/*Body*/

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 150%;
  color: #333;
  background-image: url("../images/xv.png");
  background-repeat: repeat;
}

/*Heading with Navbar*/

.heading-nav {
  border-bottom: 0.2em solid #cccccc;
}

h1 {
  background-color: #4aaaa5;
  display: inline;
  position: absolute;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 

}
header {
  background-color: white;
  margin: 0 auto;
}

.name {
  margin: 0 auto;
  padding: 25px;
  position: relative;
  width: 960px;
}

li {
  display: inline;
  padding: 18px;
}

.nav-links {
  float: right;
  margin-right: 25px;
}

/*About Me Box*/

.about-me {
  background-color: white;
  width: 960px;
  margin: 25px auto;
}

h2 {
  text-align: left;
  padding-top: 25px;
  padding-left: 25px;

}


hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: darkgrey;
}
p {
  text-align: justify;
  text-indent: 25px;
  padding: 25px;
}
#abt-image {
  float: left;
  height: 200px;
  width: 200px;
  padding-right: 25px;
  padding-left: 25px;
}

/*Contact.HTML Page*/

.contact {
  background-color: white;
  width: 960px;
  margin: 25px auto;
}

/*Portfolio.HTML Page*/

.portfolio {
  background-color: white;
  width: 960px;
  margin: 25px auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}